body {
  margin-top: 15px;
}

h1 {
  font-family: Inconsolata;
  font-style: bold;
  font-size: 40px;
  background-color: grey;
  text-align: center;
}

#knuth-list {
	display:table;
  margin: 0 auto;
}
